
:root {
  --background: #e5e7eb;
  --foreground: #1a1a1a;
  --backg: #f5f5f5;
  --foreg:#1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --backg: #1a1a1a;
    --foreg:#f5f5f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
